<form action="/users/login" method="POST">
    <h2>Login: </h2>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" id="inputEmail" placeholder="Email address" required>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="Password">
    </div>
    <button type="submit">Login</button>
</form>